{% extends "common/base.html" %}
{% load widget_tweaks %}

{% block titele %}Speak Detail{{ block.super }}{% endblock %}

{% block content %}
{% include "parts/global_navi.html" %}

<div class="container">
    <div class="row">
        <div class="col-12 d-flex px-4">
            <div class="icon-wrapper px-2 flex-shrink-1">
                <a href="{% url 'accounts:profile_detail' speak.user.profile.id %}">
                    <img src='{{ speak.user.profile.icon_image.url }}' class="rounded-circle" style="height: 40px; width: 40px; object-fit: cover;">
                </a>
            </div>
            <div class="content-wrapper w-100 px-2">
                <div class="content-header d-flex justify-content-between align-items-center w-100">
                    <a href="{% url 'accounts:profile_detail' speak.user.profile.id %}" class="text-body fw-bold text-decoration-none">{{ speak.user }} <span class="text-muted fw-lighter">{{ speak.user.uuid }}</span></a>
                    <div class="dropdown">
                        <div id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-ellipsis-h"></i>
                        </div>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            {% if request.user == speak.user %}
                            <li><a class="dropdown-item" href="{% url 'speaks:speak_update' speak.id %}">Update</a></li>
                            <li><a class="dropdown-item" href="{% url 'speaks:speak_delete' speak.id %}">Delete</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="content-text">
                    <p>{{ speak.content|linebreaksbr }}</p>
                </div>
                <div class="content-time ">
                    <hr class="my-1">
                    <time class="text-muted">{{ speak.updated_at|date:'H:i Y/m/d' }}</time>
                    <hr class="my-1">
                </div>
                <div class="content-footer">
                    <ul class="d-flex list-unstyled justify-content-between align-items-center w-100 m-0">
                        <li><i class="far fa-comments"></i></li>
                        <li><i class="fas fa-retweet"></i></li>
                        <li><i class="far fa-heart"></i></li>
                        <li><i class="fas fa-share-alt"></i></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12">
            <hr>
        </div>
    </div>
</div>
{% endblock %}