{% extends "common/base.html" %}
{% load widget_tweaks %}

{% block titele %}Speak Delete{{ block.super }}{% endblock %}

{% block content %}
{% include "parts/global_navi.html" %}

<div class="container d-flex justify-content-center">
    <div class="card w-100">
        <div class="card-body">
            <h2 class="card-title">Delete Speak</h2>
            <form method="post">
                {% csrf_token %}
                
                <input type="submit" value="Delete" class="mt-3 btn btn-danger" />
            </form>
        </div>
    </div>
</div>
{% endblock %}