{% extends "common/base.html" %}
{% load widget_tweaks %}

{% block titele %}ログイン{{ block.super }}{% endblock %}

{% block content %}
<div class="container container d-flex justify-content-center">
    <div class="card w-50">
        <div class="card-body">
            <h2 class="card-title">Login</h2>
            <form method="post">
                {% csrf_token %}
                {% if form.non_field_errors %}
                <div class="non-field-errors alert alert-danger">
                    {% for err in form.non_field_errors %}
                    <p class="form-error">{{ err }}</p>
                    {% endfor %}
                </div>
                {% endif %}
                
                {% for field in form %}
                <div class="form-group">
                {{ field.label_tag }}

                {% if form.is_bound %}
                    {% if field.errors %}
                        {% render_field field class="form-control is-invalid" %}
                        {% for error in field.errors %}
                        <div class="invalid-feedback">
                        {{ error }}
                        </div>
                        {% endfor %}
                    {% else %}
                        {% render_field field class="form-control is-valid" %}
                    {% endif %}
                {% else %}
                    {% render_field field class="form-control" %}
                {% endif %}

                {% if field.help_text %}
                    <small class="form-text text-muted">
                    {{ field.help_text }}
                    </small>
                {% endif %}
                </div>
                {% endfor %}

                <input type="submit" value="Submit" class="btn btn-primary" />
            </form>
        </div>
    </div>
</div>
{% endblock %}
