{% extends "common/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block titele %}Video Chat{{ block.super }}{% endblock %}

{% block content %}
{% include "parts/global_navi.html" %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <form>
                <div class="mb-2">
                    <div class="input-group">
                        <span class="input-group-text">Username</span>
                        <input type="text" class="form-control" value={{request.user}} id="local_username">
                    </div>
                </div>
                <div class="mb-2">
                    <button class="btn btn-primary">変更</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-12 d-flex gap-2">
            <button type="button" onclick="startVideo();" class="btn btn-primary">Start Video</button>
            <button type="button" onclick="callOffer();" class="btn btn-primary">CallOffer</button>
            <button type="button" onclick="hangUp();" class="btn btn-danger">Hang Up</button>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-12">
            <figure>
                <figcaption id="local_username_display"></figcaption>
                <video id="local_video" autoplay muted=true playsInline=true style="width: 320px; height: 240px;" class="rounded"></video>
            </figure>
        </div>
    </div>
    <div class="row my-2">
        <div id="remote_videos_container" class="col-12 d-flex gap-2 flex-wrap">
        </div>
    </div>
</div>
{% endblock %}


{% block scripts %}
{{ room_name|json_script:"room-name" }}
{{ uuid|json_script:"uuid" }}
<script src="{% static 'js/video_chat.js' %}"></script>
{% endblock %}
